
<div class="card">
    <h5 class="card-header">{{ modify ? 'Modificar usuario' : 'Nuevo usuario' }}</h5>
    <div class="card-body">
        <div class="alert alert-danger" role="alert" *ngIf="hasError && errors.length > 0">
            <ul>
                <li *ngFor="let msg of errors">{{ msg }}</li>
            </ul>
        </div>

        <div class="alert alert-success" role="alert" *ngIf="successMessage != ''">
            {{ successMessage }}
        </div>

        <form [formGroup]="newUserForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" formControlName="username" class="form-control {{ hasError && newUserForm.get('username').status == 'INVALID' ? 'invalid' : '' }}" (keyup)="existUser()"/>
                <div *ngIf="hasError && newUserForm.get('username').status == 'INVALID'" class="field-error">El usuario es obligatorio</div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" formControlName="password" class="form-control {{ hasError && newUserForm.get('password').status == 'INVALID' ? 'invalid' : '' }}"/>
                <div *ngIf="hasError && newUserForm.get('password').status == 'INVALID'" class="field-error">La contraseña es obligatoria</div>
            </div>
            <div class="form-group">
                <label for="password">Repite la contraseña</label>
                <input type="password" formControlName="password2" class="form-control {{ hasError && newUserForm.get('password2').status == 'INVALID' ? 'invalid' : '' }}"/>
                <div *ngIf="hasError && newUserForm.get('password').status == 'INVALID'" class="field-error">La contraseña es obligatoria</div>
            </div>
            <div class="form-group">
                <label for="password">Email</label>
                <input type="email" formControlName="email" class="form-control {{ hasError && newUserForm.get('email').status == 'INVALID' ? 'invalid' : '' }}"/>
                <div *ngIf="hasError && newUserForm.get('email').status == 'INVALID'" class="field-error">El email es obligatorio</div>
            </div>
            <div class="form-group">
                <input type="hidden" formControlName="id" value="0">
                <button class="btn btn-primary" [disabled]="btnDisabled">
                    {{ modify ? 'Modificar' : 'Guardar' }}
                </button>
            </div>
        </form>
    </div>
</div>